@import "utilidades/variables";
@import "utilidades/mixins";
@import "utilidades/general";
/*css de incio*/
.cab__logo {
	width: 25vh;
}
.cab__nav {
	display: flex;
	justify-content: end;
}
.cab__nav__link {
    font-size:map-get($t-fuente, 100)+50;
    a {
        text-decoration: none;
    }
}
.dest__titulo {
	text-align: center;
	background-color:map-get($bg-color, gris-claro);
	width: 100%;
	font-size:map-get($t-fuente, 200)+100;
	padding: 1%;
}
.carrusel-letras {
	color: rgb(255, 255, 255);
	font-size:map-get($t-fuente, 200)+150;
	text-shadow: 2px 2px 3px #000000;
}
.historia__titulo {
	font-size:map-get($t-fuente, 200)+50;
	display: flex;
	justify-content: center;
	margin: 1% 0% 0% 0%;
	background-color:map-get($bg-color, rojo-claro);
	a {
		text-decoration: none;
		h1 {
			color: black;
			font-size:map-get($t-fuente, 100)+50;
		}
	}
}
.historia {
	background-color:map-get($bg-color, rojo-claro);
	font-size:map-get($t-fuente, 200);
	margin: 0% 0% 1% 0%;
	div {
		@include flex-row-tA__center-aI__center;
		padding: 1%;
	}
}
.otras__secciones {
	@include flex-row-tA__center-aI__center;
	font-size:map-get($t-fuente, 200)-30;
}
.card{
    background-color:map-get($bg-color, gris-claro);
}
.otras__secc__equipo {
    .titulo__card {
        @include flex-row-tA__center-aI__center;
        flex-direction: column;
        text-decoration: none;
        color: rgb(0, 0, 0);
        text-shadow: $text-shadow-card;
        width: 100%;
    }
}
.otras__secc__piloto {
    .titulo__card {
        @extend .titulo__card;
		text-decoration: none;
		color: rgb(0, 0, 0);
        text-shadow: $text-shadow-card;
        width: 100%;
    }
}
.otras__secc__circuito {
    .titulo__card {
        @extend .titulo__card;
		text-decoration: none;
		color: rgb(0, 0, 0);
        text-shadow: $text-shadow-card;
        width: 100%;
    }
}
.pie {
	@include flex-row-tA__center-aI__center;
	justify-content: space-between;
	width: 100%;
	margin-top: 1%;
    .pie__info {
        font-size:map-get($t-fuente, 100)+30;
        display: flex;
        flex-direction: column;
        a {
            font-size:map-get($t-fuente, 100)+40;
            text-decoration: none;
            color: black;
            font-weight: bolder;
        }
    }
    .pie__redes {
        text-align: end;
    }
}
.pie__logo {
	width: 100%;
	@include flex-row-tA__center-aI__center;
}
@media screen and (max-width: 991px) {
	.cab__nav {
		display: flex;
		justify-content: center;
		text-align: center;
	}
	.dest__titulo {
		font-size:map-get($t-fuente, 200);
	}
	.historia {
		font-size:map-get($t-fuente, 100)+30;
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		justify-content: center;
		width: 100%;
		div {
			font-size:map-get($t-fuente, 100)+30;
			display: flex;
			flex-direction: column;
			flex-flow: wrap;
			justify-content: center;
			width: 100%;
			img {
				width: 50%;
			}
		}
	}
	.historia__titulo {
		font-size:map-get($t-fuente, 100)+30;
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		justify-content: center;
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	.dest__titulo {
		font-size:map-get($t-fuente, 200);
	}
	.historia {
		font-size:map-get($t-fuente, 100)+20;
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		align-items: center;
		div {
			font-size:map-get($t-fuente, 100)+20;
			display: flex;
			flex-direction: column;
			flex-flow: wrap;
			align-items: center;
		}
	}
	.historia__titulo {
		font-size:map-get($t-fuente, 100)+20;
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		align-items: center;
	}
}
@media screen and (max-width: 600px) {
	legend {
		font-size:map-get($t-fuente, 100)+20;
	}
	.contenedor__nombre {
		font-size:map-get($t-fuente, 100)+20;
	}
	.contenedor__email {
		font-size:map-get($t-fuente, 100)+20;
	}
	.contenedor__mensaje {
		font-size:map-get($t-fuente, 100)+20;
	}
	fieldset {
		height: 100vh;
	}
	.formulario {
		height: 80vh;
	}
}
@media screen and (max-width: 430px) {
	main {
		display: flex;
		flex-direction: column;
        .dest__titulo {
            font-size:map-get($t-fuente, 100)+50;
        }
        .historia__titulo {
            font-size:map-get($t-fuente, 100)+20;
            font-size:map-get($t-fuente, 100)+30;
            display: flex;
            flex-direction: column;
            flex-flow: wrap;
            align-items: center;
            justify-content: space-around;
        }
        .historia {
            font-size:map-get($t-fuente, 100)+30;
            display: flex;
            flex-direction: column;
            flex-flow: wrap;
            align-items: center;
            justify-content: space-around;
            div {
                font-size:map-get($t-fuente, 100)+30;
                display: flex;
                flex-direction: column;
                flex-flow: wrap;
                align-items: center;
                justify-content: space-around;
                img {
                    width: 50%;
                }
            }
        }
        .otras__secciones {
            font-size:map-get($t-fuente, 100)+30;
            flex-flow: wrap;
        }
	}
	.cab__nav {
		flex-flow: wrap;
		align-items: center;
		flex-flow: column;
	}
	.cab__nav__list {
		height: 30vh;
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
	}
	.cab__nav__link {
		font-size:map-get($t-fuente, 100)+20;
	}
	.destacado {
		.dest__link {
			img {
				width: 30%;
			}
		}
		font-size:map-get($t-fuente, 100)+30;
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		align-items: center;
		justify-content: space-around;
	}
	.otras__secc__circuito {
		height: 20vh;
		width: 100%;
		justify-content: center;
	}
	.otras__secc__equipo {
		height: 20vh;
		width: 100%;
		justify-content: center;
	}
	.otras__secc__piloto {
		height: 20vh;
		width: 100%;
		justify-content: center;
	}
	.pie__info {
		font-size:map-get($t-fuente, 100);
	}
	.pie__redes {
		div {
			a {
				img {
					width: 8%;
				}
			}
		}
	}
	.galeria__titulo {
		height: 25vh;
		h1 {
			font-size:map-get($t-fuente, 500)-150;
		}
	}
	.titulo__monoplazas {
		font-size:map-get($t-fuente, 200)-25;
		height: 5vh;
	}
	.titulo__pilotos {
		font-size:map-get($t-fuente, 200)-25;
		height: 5vh;
	}
	.titulo__circuitos {
		font-size:map-get($t-fuente, 200)-25;
		height: 5vh;
	}
	.img__autos {
		display: flex;
		flex-wrap: wrap;
		div {
			width: 30%;
		}
	}
	.img__circuitos {
		display: flex;
		flex-wrap: wrap;
		div {
			width: 30%;
		}
	}
	.img__pilotos {
		display: flex;
		flex-wrap: wrap;
		div {
			width: 30%;
		}
	}
}
