@import "utilidades/variables";
@import "utilidades/mixins";
@import "utilidades/general";
/*css de incio*/
.cab__logo {
	width: 25vh;
}
.cab__nav {
	display: flex;
	justify-content: end;
}
.cab__nav__link {
    font-size:map-get($t-fuente, 100)+50;
    a {
        text-decoration: none;
    }
}
.dest__titulo {
	text-align: center;
	background-color:map-get($bg-color, gris-claro);
	width: 100%;
	font-size:map-get($t-fuente, 200)+100;
	padding: 1%;
}
.carrusel-letras {
	color: rgb(255, 255, 255);
	font-size:map-get($t-fuente, 200)+150;
	text-shadow: 2px 2px 3px #000000;
}
.historia__titulo {
	font-size:map-get($t-fuente, 200)+50;
	display: flex;
	justify-content: center;
	margin: 1% 0% 0% 0%;
	background-color:map-get($bg-color, rojo-claro);
	a {
		text-decoration: none;
		h1 {
			color: black;
			font-size:map-get($t-fuente, 100)+50;
		}
	}
}
.historia {
	background-color:map-get($bg-color, rojo-claro);
	font-size:map-get($t-fuente, 200);
	margin: 0% 0% 1% 0%;
	div {
		@include flex-row-tA__center-aI__center;
		padding: 1%;
	}
}
.otras__secciones {
	@include flex-row-tA__center-aI__center;
	font-size:map-get($t-fuente, 200)-30;
}
.card{
    background-color:map-get($bg-color, gris-claro);
}
.otras__secc__equipo {
    .titulo__card {
        @include flex-row-tA__center-aI__center;
        flex-direction: column;
        text-decoration: none;
        color: rgb(0, 0, 0);
        text-shadow: $text-shadow-card;
        width: 100%;
    }
}
.otras__secc__piloto {
    .titulo__card {
        @extend .titulo__card;
		text-decoration: none;
		color: rgb(0, 0, 0);
        text-shadow: $text-shadow-card;
        width: 100%;
    }
}
.otras__secc__circuito {
    .titulo__card {
        @extend .titulo__card;
		text-decoration: none;
		color: rgb(0, 0, 0);
        text-shadow: $text-shadow-card;
        width: 100%;
    }
}
.pie {
	@include flex-row-tA__center-aI__center;
	justify-content: space-between;
	width: 100%;
	margin-top: 1%;
    .pie__info {
        font-size:map-get($t-fuente, 100)+30;
        display: flex;
        flex-direction: column;
		text-align: start;
        a {
            font-size:map-get($t-fuente, 100)+40;
            text-decoration: none;
            color: black;
            font-weight: bolder;
        }
    }
    .pie__redes {
        text-align: end;
    }
}
.pie__logo {
	width: 100%;
	@include flex-row-tA__center-aI__center;
}
/*css historia*/
.historia__seccion{
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color:map-get($bg-color, rojo-claro);
	font-size:map-get($t-fuente, 200);
}
.contenedor__nav__historia{
	background-color: #2c2c2c;
	.nav__historia{
		display: flex;
		.titulo__nav__historia{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			background-color:map-get($bg-color, gris-claro);
			height: 7vh;
			font-size: 200%;
			margin: 1%;
			a{
				text-decoration: none;
				color: #000000;
			}
		}
	}
}
.titulo__seccion__historia{
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:map-get($bg-color, gris-claro);
	height: 7vh;
	margin: 1%;
	h2{
		font-size: 200%;
	}
}
.seccion__historia{
	display: flex;
	div{
		display: flex;
		flex-direction: column;
		font-size: 200%;
		h3{
			text-align: center;
		}
	}
}
/*css equipos*/
.equipo__titulo{
	background-image: url(../assets/img/equipos-logos.png);
	background-position: center center;
	background-size: contain;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	h1 {
		text-shadow: 2px 2px 5px #000000 , 2px 2px 10px #000000;
		color: white;
		font-size: 600%;
	}
}
.contenedor__nav__equipo{
	background-color: #2c2c2c;
	.nav__equipo{
		display: flex;
		.titulo__nav__equipo{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			background-color:map-get($bg-color, gris-claro);
			height: 7vh;
			font-size: 200%;
			margin: 1%;
			a{
				text-decoration: none;
				color: #000000;
			}
		}
	}
}
.titulo__seccion__equipo{
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:map-get($bg-color, gris-claro);
	height: 7vh;
	margin: 1%;
	h2{
		font-size: 200%;
	}
}
.seccion__equipo{
	display: flex;
	div{
		display: flex;
		flex-direction: column;
		font-size: 200%;
		h3{
			text-align: center;
		}
	}
}
/*css pilotos*/
.piloto__titulo{
	background-image: url(../assets/img/pilotos.png);
	background-position: center center;
	background-size: contain;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	h1 {
		text-shadow: 2px 2px 5px #000000 , 2px 2px 10px #000000;
		color: white;
		font-size: 600%;
	}
}
.contenedor__nav__piloto{
	background-color: #2c2c2c;
	.nav__piloto{
		display: flex;
		.titulo__nav__piloto{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			background-color:map-get($bg-color, gris-claro);
			height: 7vh;
			font-size: 200%;
			margin: 1%;
			a{
				text-decoration: none;
				color: #000000;
			}
		}
	}
}
.titulo__seccion__piloto{
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:map-get($bg-color, gris-claro);
	height: 7vh;
	margin: 1%;
	h2{
		font-size: 200%;
	}
}
.seccion__piloto{
	display: flex;
	div{
		display: flex;
		flex-direction: column;
		font-size: 200%;
		h3{
			text-align: center;
		}
	}
}
/*css circuitos*/
.circuito__titulo{
	background-image: url(../assets/img/brasil.png);
	background-position: center center;
	background-size: cover;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	h1 {
		text-shadow: 2px 2px 5px #000000 , 2px 2px 10px #000000;
		color: white;
		font-size: 600%;
	}
}
.contenedor__nav__circuito{
	background-color: #2c2c2c;
	.nav__circuito{
		display: flex;
		.titulo__nav__circuito{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			background-color:map-get($bg-color, gris-claro);
			height: 7vh;
			font-size: 200%;
			margin: 1%;
			a{
				text-decoration: none;
				color: #000000;
			}
		}
	}
}
.titulo__seccion__circuito{
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:map-get($bg-color, gris-claro);
	height: 7vh;
	margin: 1%;
	h2{
		font-size: 200%;
	}
}
.seccion__circuito{
	display: flex;
	div{
		display: flex;
		flex-direction: column;
		font-size: 200%;
		h3{
			text-align: center;
		}
	}
}
/*css galeria*/
.galeria__titulo {
	background-image: url(../assets/img/cars-drivers.png);
	background-position: center center;
	background-size: cover;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	h1 {
		text-shadow: 2px 2px 5px #000000 , 2px 2px 10px #000000;
		color: white;
		font-size: 600%;
	}
}
.titulo__seccion__galeria{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgb(190, 190, 190);
	height: 10vh;
	font-size: 250%;
	margin: 1% 0% 1% 0%;
}
.contenedor__galeria{
	width: 100%;
	display: flex;
	background-color:map-get($bg-color, rojo-claro);
	div{
		margin:1%;
	}
}
/*css contacto*/
fieldset {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../assets/img/formula-1-2022.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 120vh;
	.formulario {
		width: 35%;
		height: 100vh;
		background-color: rgba(223, 223, 223, 0.678);
		.logo__form {
			a {
				img {
					width: 50%;
				}
			}
			text-align: center;
			margin-top: 2.5%;
		}
		.contenedor__nombre {
			margin-top: 5%;
			font-size: 150%;
		}
		.contenedor__email {
			margin-top: 5%;
			font-size: 150%;
		}
		.contenedor__mensaje {
			margin-top: 5%;
			font-size: 150%;
		}
	}
}
legend {
	text-align: center;
	margin-top: 5%;
	font-size: 150%;
}
@media screen and (max-width: 991px) {
	.cab__nav {
		display: flex;
		justify-content: center;
		text-align: center;
	}
	.dest__titulo {
		font-size:map-get($t-fuente, 200);
	}
	.historia {
		font-size:map-get($t-fuente, 100)+30;
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		justify-content: center;
		width: 100%;
		div {
			font-size:map-get($t-fuente, 100)+30;
			display: flex;
			flex-direction: column;
			flex-flow: wrap;
			justify-content: center;
			width: 100%;
			img {
				width: 50%;
			}
		}
	}
	.historia__titulo {
		font-size:map-get($t-fuente, 100)+30;
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		justify-content: center;
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	.dest__titulo {
		font-size:map-get($t-fuente, 200);
	}
	.historia {
		font-size:map-get($t-fuente, 100)+20;
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		align-items: center;
		div {
			font-size:map-get($t-fuente, 100)+20;
			display: flex;
			flex-direction: column;
			flex-flow: wrap;
			align-items: center;
		}
	}
	.historia__titulo {
		font-size:map-get($t-fuente, 100)+20;
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		align-items: center;
	}
	.contenedor__galeria{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		div{
			width: 100%;
		}
	}
	.contenedor__galeria{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		div{
			width: 100%;
		}
	}
	.contenedor__galeria{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		div{
			width: 100%;
		}
	}
}
@media screen and (max-width: 600px) {
	legend {
		font-size:map-get($t-fuente, 100)+20;
	}
	fieldset {
		height: 100vh;
		.formulario {
			width: 50%;
			height: 80vh;
			.contenedor__nombre {
				font-size:map-get($t-fuente, 100)+20;
			}
			.contenedor__email {
				font-size:map-get($t-fuente, 100)+20;
			}
			.contenedor__mensaje {
				font-size:map-get($t-fuente, 100)+20;
			}
		}
	}
}
@media screen and (max-width: 430px) {
	main {
		display: flex;
		flex-direction: column;
        .dest__titulo {
            font-size:map-get($t-fuente, 100)+50;
        }
        .historia__titulo {
            font-size:map-get($t-fuente, 100)+20;
            font-size:map-get($t-fuente, 100)+30;
            display: flex;
            flex-direction: column;
            flex-flow: wrap;
            align-items: center;
            justify-content: space-around;
        }
        .historia {
            font-size:map-get($t-fuente, 100)+30;
            display: flex;
            flex-direction: column;
            flex-flow: wrap;
            align-items: center;
            justify-content: space-around;
            div {
                font-size:map-get($t-fuente, 100)+30;
                display: flex;
                flex-direction: column;
                flex-flow: wrap;
                align-items: center;
                justify-content: space-around;
                img {
                    width: 50%;
                }
            }
        }
        .otras__secciones {
            font-size:map-get($t-fuente, 100)+30;
            flex-flow: wrap;
        }
	}
	.cab__nav {
		flex-flow: wrap;
		align-items: center;
		flex-flow: column;
	}
	.cab__nav__list {
		height: 30vh;
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
	}
	.cab__nav__link {
		font-size:map-get($t-fuente, 100)+20;
	}
	.destacado {
		.dest__link {
			img {
				width: 30%;
			}
		}
		font-size:map-get($t-fuente, 100)+30;
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		align-items: center;
		justify-content: space-around;
	}
	.otras__secc__circuito {
		height: 20vh;
		width: 100%;
		justify-content: center;
	}
	.otras__secc__equipo {
		height: 20vh;
		width: 100%;
		justify-content: center;
	}
	.otras__secc__piloto {
		height: 20vh;
		width: 100%;
		justify-content: center;
	}
	.pie__info {
		font-size:map-get($t-fuente, 100);
	}
	.pie__redes {
		div {
			a {
				img {
					width: 8%;
				}
			}
		}
	}
	.galeria__titulo {
		height: 25vh;
		h1 {
			font-size:map-get($t-fuente, 500)-150;
		}
	}
	.titulo__monoplazas {
		font-size:map-get($t-fuente, 200)-25;
		height: 5vh;
	}
	.titulo__pilotos {
		font-size:map-get($t-fuente, 200)-25;
		height: 5vh;
	}
	.titulo__circuitos {
		font-size:map-get($t-fuente, 200)-25;
		height: 5vh;
	}
}
