@import "utilidades/variables";
@import "utilidades/mixins";
@import "utilidades/general";
/*css de incio*/
.cab__logo {
	width: 25vh;
}
.cab__nav {
	display: flex;
	justify-content: end;
}
.cab__nav__link {
    font-size:map-get($t-fuente, 100)+50;
    a {
        text-decoration: none;
    }
}
.dest__titulo {
	text-align: center;
	background-color:map-get($bg-color, gris-claro);
	width: 100%;
	font-size:map-get($t-fuente, 200)+100;
	padding: 1%;
}
.carrusel-letras {
	color: rgb(255, 255, 255);
	font-size:map-get($t-fuente, 200)+150;
	text-shadow: 2px 2px 3px #000000;
}
.historia__titulo , .historia__titulo__pag {
	font-size:map-get($t-fuente, 200)+50;
	display: flex;
	justify-content: center;
	margin: 1% 0% 1% 0%;
	background-color:map-get($bg-color, gris-claro);
	a {
		text-decoration: none;
		h1 {
			color: black;
			font-size:map-get($t-fuente, 100)+50;
		}
	}
}
.historia {
	background-color:map-get($bg-color, rojo-claro);
	font-size:map-get($t-fuente, 200);
	margin: 0% 0% 1% 0%;
	div {
		@include flex-row-tA__center-aI__center;
		padding: 1%;
		p {
			padding: 1%;
		}
	}
}
.otras__secciones {
	display: flex;
	align-items: center;
	font-size: 150%;
	background-color:map-get($bg-color, gris-claro);
	padding: 1%;
}
.otras__secc__equipo {
	&:hover {
		transform: translate(20%) scale(1.5);
	}
	background-image: url(../assets/img/ferrari-logo.png);
	@include otras-secc;
	a {
		@include otras-secc-a;
	}
}
.otras__secc__piloto {
	&:hover {
		transform: scale(1.5);
	}
	background-image: url(../assets/img/schumacher.png);
	@include otras-secc;
	a {
		@include otras-secc-a;
	}
}
.otras__secc__circuito {
	&:hover {
		transform: translateX(-20%) scale(1.5);
	}
	background-image: url(../assets/img/brasil.png);
	@include otras-secc;
	a {
		@include otras-secc-a;
	}
}
.pie {
	@include flex-row-tA__center-aI__center;
	justify-content: space-between;
	width: 100%;
	margin-top: 1%;
    .pie__info {
        font-size:map-get($t-fuente, 100)+30;
        display: flex;
        flex-direction: column;
		text-align: start;
        a {
            font-size:map-get($t-fuente, 100)+40;
            text-decoration: none;
            color: black;
            font-weight: bolder;
			p {
				text-align: center;
			}
        }
    }
    .pie__redes {
        text-align: end;
    }
}
.pie__logo {
	width: 100%;
	@include flex-row-tA__center-aI__center;
}
/*css historia, equipo, piloto y circuito*/
.historia__seccion{
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color:map-get($bg-color, rojo-claro);
	font-size:map-get($t-fuente, 200);
}
.contenedor__nav__pag{
	background-color: #2c2c2c;
	margin: 1% 0% 1% 0%;
	.nav__pag{
		display: flex;
		.titulo__nav__pag{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			background-color:map-get($bg-color, gris-claro);
			height: 7vh;
			font-size: 200%;
			margin: 1%;
			a{
				text-decoration: none;
				color: #000000;
			}
		}
	}
}
.titulo__seccion__pag{
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:map-get($bg-color, gris-claro);
	height: 7vh;
	margin: 1%;
	h2{
		font-size: 200%;
	}
}
.seccion__pag{
	display: flex;
	margin: 1%;
	div{
		display: flex;
		flex-direction: column;
		font-size:map-get($t-fuente, 100)+50;
		padding: 1%;
		h3{
			text-align: center;
		}
	}
}
.seccion__pag--end{
	display: flex;
	flex-direction: row-reverse;
	margin: 1%;
	div{
		display: flex;
		flex-direction: column;
		font-size:map-get($t-fuente, 100)+50;
		padding: 1%;
		h3{
			text-align: center;
		}
	}
}
/*css equipos*/
.equipo__titulo{
	background-image: url(../assets/img/equipos-logos.png);
	@include bg-section;
	background-size: contain;
	h1 {
		@include title-section;
	}
}
/*css pilotos*/
.piloto__titulo{
	background-image: url(../assets/img/pilotos.png);
	@include bg-section;
	background-size: contain;
	h1 {
		@include title-section;
	}
}
/*css circuitos*/
.circuito__titulo{
	background-image: url(../assets/img/brasil.png);
	@include bg-section;
	h1 {
		@include title-section;
	}
}
/*css galeria*/
.galeria__titulo {
	background-image: url(../assets/img/cars-drivers.png);
	@include bg-section;
	h1 {
		@include title-section;
	}
}
.titulo__seccion__galeria{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgb(190, 190, 190);
	height: 10vh;
	font-size: 250%;
	margin: 1% 0% 1% 0%;
}
.contenedor__galeria{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-flow: nowrap;
	background-color:map-get($bg-color, rojo-claro);
	div{
		margin:1%;
	}
}
/*css contacto*/
fieldset {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../assets/img/formula-1-2022.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 120vh;
	.formulario {
		width: 35%;
		height: 100vh;
		background-color: rgba(223, 223, 223, 0.678);
		.logo__form {
			a {
				img {
					width: 50%;
				}
			}
			text-align: center;
			margin-top: 2.5%;
		}
		.contenedor__nombre {
			margin-top: 5%;
			font-size: 150%;
		}
		.contenedor__email {
			margin-top: 5%;
			font-size: 150%;
		}
		.contenedor__mensaje {
			margin-top: 5%;
			font-size: 150%;
		}
	}
}
legend {
	text-align: center;
	margin-top: 5%;
	font-size: 150%;
}
@media screen and (max-width: 1024px) {
	.cab__nav {
		display: flex;
		justify-content: center;
		text-align: center;
	}
	.dest__titulo {
		font-size:map-get($t-fuente, 200);
	}
	.historia__titulo {
		font-size:map-get($t-fuente, 100)+30;
		@include flex-col-wrap-jC__cent;
	}
	.historia {
		font-size:map-get($t-fuente, 100)+30;
		@include flex-col-wrap-jC__cent;
		div {
			font-size:map-get($t-fuente, 100)+30;
			@include flex-col-wrap-jC__cent;
			img {
				width: 50%;
			}
		}
	}
	.otras__secciones {
		font-size:map-get($t-fuente, 100)+50;
		.otras__secc__circuito , .otras__secc__equipo , .otras__secc__piloto {
			padding: 2%;
		}
	}
	.contenedor__nav__pag{
		
		.nav__pag{
			display: flex;
			.titulo__nav__pag{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				background-color:map-get($bg-color, gris-claro);
				height: 5vh;
				font-size: map-get($t-fuente, 200);
				margin: 1%;
				a{
					text-decoration: none;
					color: #000000;
				}
			}
		}
	}
	.titulo__seccion__pag{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color:map-get($bg-color, gris-claro);
		height: 5vh;
		margin: 1% 0% 1% 0%;
		h2{
			font-size: map-get($t-fuente, 200);
		}
	}
	.seccion__pag{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 1% 0% 1% 0%;
		img{
			width: 50%;
		}
		div{
			display: flex;
			flex-direction: column;
			font-size: map-get($t-fuente, 200);
			h3{
				text-align: center;
			}
		}
	}
	.seccion__pag--end{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 1% 0% 1% 0%;
		div{
			display: flex;
			flex-direction: column;
			font-size: map-get($t-fuente, 200);
			h3{
				text-align: center;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.dest__titulo {
		font-size:map-get($t-fuente, 200);
	}
	.historia__titulo {
		font-size:map-get($t-fuente, 100)+50;
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		align-items: center;
	}
	.historia {
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		align-items: center;
		div {
			font-size:map-get($t-fuente, 100)+50;
			display: flex;
			flex-direction: column;
			flex-flow: wrap;
			align-items: center;
		}
	}
	.otras__secciones {
		font-size:map-get($t-fuente, 100)+30;
		flex-flow: wrap;
		.otras__secc__circuito {
			height: 30vh;
			width: 100%;
			justify-content: center;
			&:hover {
				transform: translateX(0%) scale(1);
			}
			@include otras-secc;
			transition: transform 0s;
			margin: 1%;
		}
		.otras__secc__equipo {
			height: 30vh;
			width: 100%;
			justify-content: center;
			&:hover {
				transform: translateX(0%) scale(1);
			}
			@include otras-secc;
			transition: transform 0s;
			margin: 1%;
		}
		.otras__secc__piloto {
			height: 30vh;
			width: 100%;
			justify-content: center;
			&:hover {
				transform: scale(1);
			}
			@include otras-secc;
			transition: transform 0s;
			margin: 1%;
		}
	}
	.titulo__seccion__galeria{
		font-size:map-get($t-fuente, 200);
	}
	.contenedor__galeria{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		div{
			width: 100%;
			margin: 1% 0% 1% 0%;
		}
	}
}
@media screen and (max-width: 600px) {
	.historia__titulo{
		font-size:map-get($t-fuente, 100)+30;
	}
	.historia__titulo__pag{
		h1{
			font-size:map-get($t-fuente, 50)+20;
		}
	}
	.historia{
		font-size:map-get($t-fuente, 100);
	}
	.contenedor__nav__pag{
		
		.nav__pag{
			display: flex;
			.titulo__nav__pag{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				background-color:map-get($bg-color, gris-claro);
				height: 5vh;
				font-size: map-get($t-fuente, 100)+30;
				margin: 1%;
				a{
					text-decoration: none;
					color: #000000;
				}
			}
		}
	}
	.titulo__seccion__pag{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color:map-get($bg-color, gris-claro);
		height: 5vh;
		margin: 1% 0% 1% 0%;
		h2{
			font-size: map-get($t-fuente, 100)+30;
		}
	}
	.seccion__pag{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 1% 0% 1% 0%;
		img{
			width: 40%;
		}
		div{
			display: flex;
			flex-direction: column;
			font-size: map-get($t-fuente, 100)+30;
			h3{
				text-align: center;
			}
		}
	}
	.seccion__pag--end{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 1% 0% 1% 0%;
		div{
			display: flex;
			flex-direction: column;
			font-size: map-get($t-fuente, 100)+30;
			h3{
				text-align: center;
			}
		}
	}
	.equipo__titulo , .circuito__titulo , .galeria__titulo{
		font-size: map-get($t-fuente, 50) ;
	}
	legend {
		font-size:map-get($t-fuente, 100)+20;
	}
	fieldset {
		height: 100vh;
		.formulario {
			width: 50%;
			height: 80vh;
			.contenedor__nombre {
				font-size:map-get($t-fuente, 100)+20;
			}
			.contenedor__email {
				font-size:map-get($t-fuente, 100)+20;
			}
			.contenedor__mensaje {
				font-size:map-get($t-fuente, 100)+20;
			}
		}
	}
}
@media screen and (max-width: 430px) {
	.cab__nav {
		flex-flow: wrap;
		align-items: center;
		flex-flow: column;
	}
	.cab__nav__list {
		height: 30vh;
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
	}
	.cab__nav__link {
		font-size:map-get($t-fuente, 100)+20;
	}
	.destacado {
		.dest__link {
			img {
				width: 30%;
			}
		}
		font-size:map-get($t-fuente, 100)+30;
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		align-items: center;
		justify-content: space-around;
	}
	main {
		display: flex;
		flex-direction: column;
        .dest__titulo {
            font-size:map-get($t-fuente, 100)+50;
        }
        .historia__titulo {
            font-size:map-get($t-fuente, 100)+20;
            font-size:map-get($t-fuente, 100)+30;
            display: flex;
            flex-direction: column;
            flex-flow: wrap;
            align-items: center;
            justify-content: space-around;
        }
        .historia {
            font-size:map-get($t-fuente, 100)+30;
            display: flex;
            flex-direction: column;
            flex-flow: wrap;
            align-items: center;
            justify-content: space-around;
            div {
                font-size:map-get($t-fuente, 100)+30;
                display: flex;
                flex-direction: column;
                flex-flow: wrap;
                align-items: center;
                justify-content: space-around;
                img {
                    width: 70%;
                }
            }
        }
	}
	.pie__info {
		font-size:map-get($t-fuente, 100);
	}
	.historia__seccion{
		display: flex;
		flex-direction: column;
		text-align: center;
		background-color:map-get($bg-color, rojo-claro);
		font-size:100%;
	}
	.galeria__titulo {
		height: 25vh;
		h1 {
			font-size:map-get($t-fuente, 500)-150;
		}
	}
	.titulo__monoplazas {
		font-size:map-get($t-fuente, 200)-25;
		height: 5vh;
	}
	.titulo__pilotos {
		font-size:map-get($t-fuente, 200)-25;
		height: 5vh;
	}
	.titulo__circuitos {
		font-size:map-get($t-fuente, 200)-25;
		height: 5vh;
	}
}
